
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fffdf5;
}

.banner {
  background-color: #ffeb3b;
  padding: 50px 20px;
  text-align: center;
  position: relative;
}

.banner h1 {
  color: black;
  font-size: 2.5em;
}

.milho-formas {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.forma {
  width: 30px;
  height: 50px;
  background-color: green;
  clip-path: ellipse(50% 100% at 50% 100%);
}

.secao {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  gap: 30px;
  flex-wrap: wrap;
}

.imagem-esquerda {
  flex-direction: row;
}

.imagem-direita {
  flex-direction: row-reverse;
}

.secao img {
  width: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.texto {
  max-width: 600px;
}

.texto h2 {
  color: #2c3e50;
  margin-bottom: 10px;
}

.carrossel {
  padding: 40px 20px;
  background-color: #f3f3f3;
  text-align: center;
}

.carrossel h2 {
  margin-bottom: 20px;
}

.carrossel-container {
  overflow-x: auto;
  white-space: nowrap;
}

.carrossel-imagens img {
  width: 200px;
  margin: 0 10px;
  display: inline-block;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s;
}

.carrossel-imagens img:hover {
  transform: scale(1.1);
}

footer {
  background-color: #ffeb3b;
  color: black;
  text-align: justify;
  padding: 20px;
  font-weight: bold;
  }
